[Desktop Entry]
Comment=Nothing Global Theme
Name=Nothing
X-KDE-PluginInfo-Author=jomada
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=gicalucejo@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Nothing
X-KDE-PluginInfo-Version=1.1.1
X-KDE-PluginInfo-Website=seduccionlinux.wordpress.com
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/2116662,kns://plasma-themes.knsrc/api.kde-look.org/2116665,kns://aurorae.knsrc/api.kde-look.org/2116663,kns://xcursor.knsrc/api.kde-look.org/1411743,kns://wallpaper.knsrc/api.kde-look.org/2116657,kns://wallpaper.knsrc/api.kde-look.org/2116658,kns://wallpaper.knsrc/api.kde-look.org/2116659,kns://plasmoids.knsrc/api.kde-look.org/1245902,kns://plasmoids.knsrc/api.kde-look.org/1274218
